@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Saira", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
* ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
* ::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 999px;
}

* ::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}
*,
*::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-btn-primary {
  background-color: #005b30;
}

.swiper-pagination-bullet-active {
  background-color: #005b30 !important;
}
.ant-switch {
  background: rgba(0, 0, 0, 0.45);
}
.ant-input-disabled {
  color: black
}

.ant-table-cell {
  border: 1px solid rgb(200, 200, 200);
}
.ant-table-container {
  border: 2px solid rgb(200, 200, 200);
}
.ant-table-header{
  border-bottom: 2px solid rgb(200, 200, 200);
}


.ant-btn{
  border: solid #005b30 2px;
}

.ant-input-affix-wrapper {
  border: solid #005b30 2px;
  color: black;
}

.ant-input{
  border: solid #005b30 2px;
}

.ant-picker{
  border: solid #005b30 2px;

}

.ant-picker-disabled {
  outline: solid #005b30 2px;
  border: none;
}

.ant-input-affix-wrapper-disabled {
  outline: solid #005b30 2px;
  border: none;
}

.ant-select {
  outline: solid #005b30 2px;
  border-radius: 6px;
}

.ant-table-cell {
  border: 1px solid rgb(200, 200, 200);
}
.ant-table-container {
  border: 2px solid rgb(200, 200, 200);
}
.ant-table-header{
  border-bottom: 2px solid rgb(200, 200, 200);
}
